In [2]:
#vksektmfmf pd라는 별칭으로 불러옴
import pandas as pd
from koji.util import duration
from pandas.tseries.holiday import nearest_workday

# 파이썬 리스트를 통해 시리즈 생성
series_data = pd.Series([True, 3.14,'ABC'])

# 데이터 타입과 시리즈 출력
print(type(series_data))
print(series_data)

<class 'pandas.Series'>
0    True
1    3.14
2     ABC
dtype: object

In [3]:
# 앞으로 데이터프레임 출력은 print() 함수 없이 출력하겠습니다.
df = pd.DataFrame({'c0':[1,2,3], 'c1':[4,5,6]})

# 데이터 타입과 데이터프레임 출력
print(type(df))
df

<class 'pandas.DataFrame'>

   c0  c1
0   1   4
1   2   5
2   3   6

In [4]:
# 넷플릭스 데이터프레임 직접만들기
import pandas as pd
import numpy as np

# 1 딕셔너리에 넷플릭스 데이터 할당하기
dict_netflix = {
    'show_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'type': ['TV Show', 'TV Show', 'Movie', 'Movie', 'Movie', 'TV Show', 'Movie', 'Movie'],
    'title': ['Squid Game', 'Stranger Things', 'Sherlock Holmes',
              'Iron Man & Captain America: Heroes United',
              'Bird Box', 'Anne with an E', 'About Time', 'Inception'],
    'director': [np.nan, np.nan, 'Guy Ritchie', 'Leo Riley',
                 'Susanne Bier', np.nan, 'Richard Curtis', 'Christopher Nolan'],
    'cast': ['Lee Jung-jae', 'Winona Ryder', 'Robert Downey Jr',
             'Adrian Pasdar', 'Sandra Bullock', 'Amybeth McNulty',
             'Domhnall Gleeson', 'Leonardo DiCaprio'],
    'country': [np.nan, 'United States', 'United States, Germany',
                'United States', 'United States', 'Canada',
                np.nan, 'United States'],
    'release_year': [2021, 2019, 2009, 2014, 2018, 2019, 2013, 2010],
    'duration': [300, 800, 128, 71, 124, 900, 123, 148],
    'listed_in': [np.nan, 'TV Horror', 'Action & Adventure',
                  np.nan, np.nan, np.nan, np.nan, np.nan]
}

# 2 딕셔너리로 데이터프레임 생성하기
netflix = pd.DataFrame(dict_netflix)
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [5]:
import pandas as pd

netflix = pd.read_csv("./netflix_titles.csv")
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [6]:
# CSV 파일 저장하기
netflix.to_csv('netflix_new.csv', index=False)

In [7]:
# 판다스의 데이터 타입 알아보기
# 샘플 데이터 생성 후 판다스에서 읽어보기

kr_weather = pd.read_csv("./korea_weather_data.csv")
kr_weather

,date,city,temp_min_c,temp_max_c,humidity_pct,precip_mm,wind_speed_mps,condition
0,2026-01-27,Seoul,-9.1,-2.7,73,11.1,2.3,Snow
1,2026-01-28,Seoul,5.0,12.0,49,1.2,1.8,Rain
2,2026-01-29,Seoul,-5.5,4.9,45,0.0,3.8,Clear
3,2026-01-30,Seoul,-6.4,0.2,66,0.0,2.1,Cloudy
4,2026-01-31,Seoul,-6.4,-0.7,79,0.0,1.1,Cloudy
5,2026-02-01,Seoul,-0.2,4.6,63,0.0,3.7,Clear
6,2026-02-02,Seoul,-6.5,0.2,77,0.0,2.6,Cloudy
7,2026-02-03,Seoul,-3.9,0.4,60,0.0,3.6,Clear
8,2026-02-04,Seoul,-10.4,1.2,48,0.0,3.5,Clear
9,2026-02-05,Seoul,-10.1,-3.0,46,0.0,2.0,Clear
10,2026-02-06,Seoul,-3.7,1.9,59,0.0,3.1,Clear
11,2026-02-07,Seoul,0.2,5.7,50,0.0,3.1,Clear
12,2026-02-08,Seoul,-3.0,2.2,52,0.0,4.3,Clear
13,2026-02-09,Seoul,-1.9,1.9,78,0.0,3.2,Cloudy
14,2026-02-10,Seoul,-6.7,-0.5,56,0.0,0.2,Clear
15,2026-02-11,Seoul,-2.2,5.0,66,0.0,3.6,Cloudy
16,2026-02-12,Seoul,-4.7,0.6,78,0.0,1.0,Cloudy
17,2026-02-13,Seoul,1.3,6.9,38,0.0,3.2,Clear
18,2026-02-14,Seoul,4.8,7.9,52,0.0,4.8,Clear
19,2026-02-15,Seoul,-3.5,0.5,69,4.4,2.4,Snow
20,2026-02-16,Seoul,0.3,4.2,66,0.0,2.7,Cloudy
21,2026-02-17,Seoul,-2.2,2.9,61,0.0,2.6,Clear
22,2026-02-18,Seoul,6.3,10.2,39,0.0,3.5,Clear
23,2026-02-19,Seoul,-5.5,0.1,66,0.0,1.4,Cloudy
24,2026-02-20,Seoul,8.0,10.4,57,10.7,2.8,Rain
25,2026-02-21,Seoul,-8.5,0.1,51,0.0,2.7,Clear
26,2026-02-22,Seoul,-7.4,1.1,52,4.4,5.8,Snow
27,2026-02-23,Seoul,-2.0,2.4,66,0.0,3.1,Cloudy
28,2026-02-24,Seoul,5.5,9.7,40,0.0,3.8,Clear
29,2026-02-25,Seoul,3.3,9.7,63,0.0,4.4,Clear

In [8]:
# 데이터 내용 확인하기
# 데이터의 열과 행 확인하기

netflix = pd.read_csv('netflix_selena.csv')
# 열 이름 확인
list(netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'release_year',
 'duration',
 'listed_in']

In [9]:
list(netflix.index)

[0, 1, 2, 3, 4, 5, 6, 7]

In [11]:
# 인덱스 이름을 0~7에서 '1행'~'8행'으로 수정
netflix.index=["1행","2행","3행","4행","5행","6행","7행","8행"]
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
1행,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
2행,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
3행,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
4행,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
5행,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
6행,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
7행,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
8행,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [12]:
netflix.loc["3행"]

show_id                              3
type                             Movie
title                  Sherlock Holmes
director                   Guy Ritchie
cast                  Robert Downey Jr
country         United States, Germany
release_year                      2009
duration                           128
listed_in           Action & Adventure
Name: 3행, dtype: object

In [13]:
# 데이터의 처음과 마지막 부분 확인하기
# 데이터 프레임의 앞 부분을 확인하는 head()함수
netflix - pd.read_csv('netflix_selena.csv')
# 데이터 처음 5개의 행 출력
netflix.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
1행,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
2행,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
3행,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
4행,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
5행,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN

In [14]:
# 데이터 프레임의 뒷부분을 확인하는 tail() 함수
netflix.tail()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
4행,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
5행,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
6행,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
7행,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
8행,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [16]:
# 데이터 구조 살펴보기
# 행과 열의 개수를 확인하는 shape속성
netflix.shape

(8, 9)

In [17]:
# 열정보를 확인하는 info()함수
netflix.info()

<class 'pandas.DataFrame'>
Index: 8 entries, 1행 to 8행
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8 non-null      int64
 1   type          8 non-null      str
 2   title         8 non-null      str
 3   director      5 non-null      str
 4   cast          8 non-null      str
 5   country       6 non-null      str
 6   release_year  8 non-null      int64
 7   duration      8 non-null      int64
 8   listed_in     2 non-null      str
dtypes: int64(3), str(6)
memory usage: 940.0+ bytes

In [18]:
# 1.shape 속성
# shape 속성은 데이터 프레임의 행과 열의 수를 반환합니다.
# 이를 통해 데이터의 크기를 쉽게 확인할 수 있습니다.

import pandas as pd
# 예제 데이터프레임 생성
data = {
    'name':['Alice','Bob','Charlie','David','Eve'],
    'age':[24,27,22,32,29],
    'city': ['New York','Los Angeles','Chicago','Houston','Phoenix']
}

df = pd.DataFrame(data)

# 데이터프레임의 크기확인
print("DataFrame shape:", df.shape)

DataFrame shape: (5, 3)

In [19]:
# 2.info() 함수
# 데이터 프레임 정보 출력
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      str
 1   age     5 non-null      int64
 2   city    5 non-null      str
dtypes: int64(1), str(2)
memory usage: 252.0 bytes

In [20]:
# 특정 열 선택하기
# 시리즈 반환하기
netflix = pd.read_csv('netflix_selena.csv')
# title 열 선택, 대괄호 안에 열 이름을 따옴표와 함게 입력
title = netflix['title']
title.head()

0                                   Squid Game
1                              Stranger Things
2                              Sherlock Holmes
3    Iron Man & Captain America: Heroes United
4                                     Bird Box
Name: title, dtype: str

In [22]:
# title 열 선택, 점 다음에 열 이름 입력
title = netflix.title
title.head()

0                                   Squid Game
1                              Stranger Things
2                              Sherlock Holmes
3    Iron Man & Captain America: Heroes United
4                                     Bird Box
Name: title, dtype: str

In [24]:
title_release_year = netflix[['title','release_year']]
title_release_year.head()

                                       title  release_year
0                                 Squid Game          2021
1                            Stranger Things          2019
2                            Sherlock Holmes          2009
3  Iron Man & Captain America: Heroes United          2014
4                                   Bird Box          2018

In [25]:
# 개의 열을 시리즈가 아니라 데이터 프레임으로 반환하고 싶다면?
title = netflix[['title']]
title.head()

                                       title
0                                 Squid Game
1                            Stranger Things
2                            Sherlock Holmes
3  Iron Man & Captain America: Heroes United
4                                   Bird Box

In [26]:
# 데이터 필터링하기
# 비교연산자 >로 필터링하기
netflix['release_year'] > 2015

0     True
1     True
2    False
3    False
4     True
5     True
6    False
7    False
Name: release_year, dtype: bool

In [27]:
# 2015년 이후에 나온 콘텐츠 추출
more2015 = netflix[netflix['release_year'] > 2015]
more2015.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN

In [28]:
# 부정연산자 ~로 필터링하기
less2015 = netflix[~(netflix['release_year'] > 2015)]
less2015.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [29]:
# 논리 연산자 &나 | 로 필터링 하기
# 2015년 이후에 나온 콘텐츠이면서(&) 쇼의 장리가 TV show인 데이터 추출
(netflix['release_year'] > 2015) &(netflix['type'] == 'TV Show')

0     True
1     True
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [31]:
# 이것을 활용하면 원하는 값을 추출할 수 있습니다.
more2015_tv = netflix[(netflix['release_year'] > 2015) & (netflix['type'] == 'TV Show')]
more2015_tv.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN

In [32]:
# 이번에는 | 연산자를 사용해서 2015년 이후에 나온 콘텐츠이거나  쇼의 장르가 TV show인 데이터 추출
more2015_or_tv = netflix[(netflix['release_year'])|(netflix['type'] == 'TV Show')]
more2015_or_tv.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN

In [33]:
# loc[]와 iloc[]로 필터링하기
title_year =netflix.loc[:,['title','release_year']]
title_year.head()

                                       title  release_year
0                                 Squid Game          2021
1                            Stranger Things          2019
2                            Sherlock Holmes          2009
3  Iron Man & Captain America: Heroes United          2014
4                                   Bird Box          2018

In [34]:
# .loc[]: 데이터 프레임의 행과 열의 이름을 사용
# 0번째, 1번쨰 행과 title과 release_year의 열을 출력
title_year = netflix.loc[[0,1],['title','release_year']]
title_year.head()

             title  release_year
0       Squid Game          2021
1  Stranger Things          2019

In [35]:
# .index: 행 이름 변경
netflix.index = ['A','B','C','D','E','F','G','H']
title_year.head()

             title  release_year
0       Squid Game          2021
1  Stranger Things          2019

In [38]:
# iloc[]로 필터링하기
type_director =netflix.iloc[[3,4],[1,3]]
type_director.head()

    type      director
D  Movie     Leo Riley
E  Movie  Susanne Bier

In [39]:
# isin()함수로 특정값 필터링하기
# isin(values): 각 요소가 values에 포함된 값인지 파악하여 True/False 반환
# type 변수의 값이 TV show일 경우는 True반환 , 아니라면 False 반환
netflix['type'].isin(['TV Show'])

A     True
B     True
C    False
D    False
E    False
F     True
G    False
H    False
Name: type, dtype: bool

In [40]:
# 논리형 인덱싱 + .isin() : 데이터의 특정 범위만 추출
# type 변수의 값이 TV show일 경우만 추철하여 TV_Show저장
TV_Show = netflix[netflix['type'].isin(['TV Show'])]
TV_Show.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
A,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
B,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
F,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN

In [41]:
# 결측치 처리하기
# 판다스의 결측치는 NaN,None이 있습니다.

# isna().sum()를 이용한 결측치 확인하기
# 결츨치 확인 (1)-.isna().sum()
netflix.isna().sum()

show_id         0
type            0
title           0
director        3
cast            0
country         2
release_year    0
duration        0
listed_in       6
dtype: int64

In [42]:
# info()함수를 이요한 비 결측치 확인하기
# 결측치 확인 (2)-.info()
netflix.info()

<class 'pandas.DataFrame'>
Index: 8 entries, A to H
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8 non-null      int64
 1   type          8 non-null      str
 2   title         8 non-null      str
 3   director      5 non-null      str
 4   cast          8 non-null      str
 5   country       6 non-null      str
 6   release_year  8 non-null      int64
 7   duration      8 non-null      int64
 8   listed_in     2 non-null      str
dtypes: int64(3), str(6)
memory usage: 940.0+ bytes

In [43]:
# for문으로 결측치 비율 확인
# 결측치 확인 (3) - for문
for i in netflix.columns :
    missingValueRate = netflix[i].isna().sum() / len(netflix)*100
    if missingValueRate > 0 :
        print("{} null rate:{}%".format(i, round(missingValueRate, 2)))

director null rate:37.5%
country null rate:25.0%
listed_in null rate:75.0%

In [44]:
# 결측치 처리하기
# fillna()함수로 결측히를 다른 값으로 대체하기

# 결측치 처리 (1) - fillna()
# 결측치 비율 : country(25.0%) : 8개 중에 2 개 결측치
netflix['country']= netflix['country'].fillna("No data")
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
A,1,TV Show,Squid Game,NaN,Lee Jung-jae,No data,2021,300,NaN
B,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
C,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
D,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
E,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
F,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
G,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,No data,2013,123,NaN
H,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [45]:
# replace()함수로 결측치를 다른 값으로 대체하기
# 결측치 처리 (2) - replace()
# 결측치 비율 : director(37.5%) : 8개 중에 3개 결측치

netflix['director']=netflix['director'].replace(np.nan,'NO Data')
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
A,1,TV Show,Squid Game,NO Data,Lee Jung-jae,No data,2021,300,NaN
B,2,TV Show,Stranger Things,NO Data,Winona Ryder,United States,2019,800,TV Horror
C,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
D,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
E,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
F,6,TV Show,Anne with an E,NO Data,Amybeth McNulty,Canada,2019,900,NaN
G,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,No data,2013,123,NaN
H,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [46]:
# dropna()로 결측치를 가진 열 제거하기
# 결측치 처리 (3) -dropna()
# 결측치 비율 : listed_in(75.0%):8개 중에 6개의 결측치

netflix.dropna(axis=1,inplace=True)
netflix

,show_id,type,title,director,cast,country,release_year,duration
A,1,TV Show,Squid Game,NO Data,Lee Jung-jae,No data,2021,300
B,2,TV Show,Stranger Things,NO Data,Winona Ryder,United States,2019,800
C,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128
D,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71
E,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124
F,6,TV Show,Anne with an E,NO Data,Amybeth McNulty,Canada,2019,900
G,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,No data,2013,123
H,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148

In [48]:
# dropna()로 특정 열의 결측치를 가진 행만 제거하기
netflix =pd.read_csv("netflix_selena.csv")
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [49]:
# 다시 데이터 테이블을 불러온 후
netflix.dropna(subset=['listed_in'],inplace=True)
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure

In [50]:
# 결과를 보면 결측치가 있언 NanN이던 값이 잇는 행은 모두 제거 되었습니다.

In [51]:
# 결측치를 처리한 데이터 프레임을 파일로 저장하기
netflix = pd.read_csv("netflix_selena.csv")
netflix['country'] = netflix['country'].fillna("No data")
netflix['director'] = netflix['director'].replace(np.nan,"No data")
netflix.dropna(axis=1,inplace=True)
netflix

,show_id,type,title,director,cast,country,release_year,duration
0,1,TV Show,Squid Game,No data,Lee Jung-jae,No data,2021,300
1,2,TV Show,Stranger Things,No data,Winona Ryder,United States,2019,800
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124
5,6,TV Show,Anne with an E,No data,Amybeth McNulty,Canada,2019,900
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,No data,2013,123
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148

In [52]:
# 데이터 프레임에 to_csv()함수를 사용해서 결측치 데이터를 저장합니다.
# 결측치 처리한 데이터 csv 파일로 저장
netflix.to_csv('netflix_cleaned.csv',index=False)

In [53]:
# 데이터 통계 처리하기
# 통계 구하기
# 평균값:mean()함수
# 중앙값:median()함수
# 합계 :sum()함수
# 최댓값, 최솟값 : max(),min()함수

In [ ]:
# 파일을 불러와 평균값, 중앙값, 합, 최솟값, 최댓값을 구해출력한 것입니다.

In [54]:
netflix = pd.read_csv('netflix_cleaned.csv')
print('mean :', netflix['duration'].mean())
print('median :', netflix['duration'].median())
print('sum :',netflix['duration'].sum())
print('min :', netflix['duration'].min())
print('max :',netflix['duration'].max())

mean : 324.25
median : 138.0
sum : 2594
min : 71
max : 900

In [56]:
# 표준편차 :std()함수
# 분산 : var()함수

# duration 열의 표준 편차, 분산구하기
print('std : ', netflix['duration'].std())
print('var : ', netflix['duration'].nunique())

std :  332.2497984520511
var :  8

In [57]:
# 비어 있지 않은 값 세기 :count()함수
# 열의 빈도수: value_counts()함수
# type 열의 비어 잇지 않은 값의 개수와 빈도수 구하기
print('count : ', netflix['type'].count())
print('value_counts : ', netflix['type'].value_counts())

count :  8
value_counts :  type
Movie      5
TV Show    3
Name: count, dtype: int64

In [58]:
# 통계 지표 요약하기 :describe()함수
print(netflix[['release_year','duration']].describe())

       release_year    duration
count      8.000000    8.000000
mean    2015.375000  324.250000
std        4.501984  332.249798
min     2009.000000   71.000000
25%     2012.250000  123.750000
50%     2016.000000  138.000000
75%     2019.000000  425.000000
max     2021.000000  900.000000

In [59]:
# 원하는 통계량 요약
netflix.agg({'release_year':['min','max','median','std'],'duration':['min','max','mean','median']})

        release_year  duration
min      2009.000000     71.00
max      2021.000000    900.00
median   2016.000000    138.00
std         4.501984       NaN
mean             NaN    324.25

In [60]:
# 그룹별 집계 : groupby() 함수

# 시리즈 타입의 그룹별 집계
netflix.groupby('type')['duration'].mean()

type
Movie      118.800000
TV Show    666.666667
Name: duration, dtype: float64

In [63]:
# 데이터프레임 타입의 그룹별 집계
# groupby로 type과 coupby 열로 묶어주고  release_year과 duratuon 열의 평균 구하기
netflix.groupby(['type','country'])[['release_year','duration']].mean()

                                release_year    duration
type    country
Movie   No data                       2013.0  123.000000
        United States                 2014.0  114.333333
        United States, Germany        2009.0  128.000000
TV Show Canada                        2019.0  900.000000
        No data                       2021.0  300.000000
        United States                 2019.0  800.000000

In [64]:
# 데이터프레임에 행이나 열 추가하거나 삭제하기
# 행과 열 추가하기

# 행 추가 : dataframe.loc[index]=values
new = netflix.iloc[0,:] # 첫 번째 행 선택
netflix.loc[8] =new # 새로운 행 추가
netflix.tail(2) # 마지막 두개 행 출력

,show_id,type,title,director,cast,country,release_year,duration
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148
8,1,TV Show,Squid Game,No data,Lee Jung-jae,No data,2021,300

In [65]:
# 열 추가 : dataframe['new_column'] = values
netflix['2duration'] = netflix['duration'] * 2 # 새로운 열 추가
netflix.head(2)

,show_id,type,title,director,cast,country,release_year,duration,2duration
0,1,TV Show,Squid Game,No data,Lee Jung-jae,No data,2021,300,600
1,2,TV Show,Stranger Things,No data,Winona Ryder,United States,2019,800,1600

In [66]:
# 행과 열 삭제
netflix = netflix.drop(np.arange(2,5),axis = 0) # 행삭제
netflix

,show_id,type,title,director,cast,country,release_year,duration,2duration
0,1,TV Show,Squid Game,No data,Lee Jung-jae,No data,2021,300,600
1,2,TV Show,Stranger Things,No data,Winona Ryder,United States,2019,800,1600
5,6,TV Show,Anne with an E,No data,Amybeth McNulty,Canada,2019,900,1800
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,No data,2013,123,246
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,296
8,1,TV Show,Squid Game,No data,Lee Jung-jae,No data,2021,300,600

In [67]:
netflix =netflix.drop('2duration', axis = 1) # 열 삭제
netflix

,show_id,type,title,director,cast,country,release_year,duration
0,1,TV Show,Squid Game,No data,Lee Jung-jae,No data,2021,300
1,2,TV Show,Stranger Things,No data,Winona Ryder,United States,2019,800
5,6,TV Show,Anne with an E,No data,Amybeth McNulty,Canada,2019,900
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,No data,2013,123
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148
8,1,TV Show,Squid Game,No data,Lee Jung-jae,No data,2021,300