In [1]:
#vksektmfmf pd라는 별칭으로 불러옴
import pandas as pd

# 파이썬 리스트를 통해 시리즈 생성
series_data = pd.Series([True, 3.14,'ABC'])

# 데이터 타입과 시리즈 출력
print(type(series_data))
print(series_data)

<class 'pandas.Series'>
0    True
1    3.14
2     ABC
dtype: object

In [2]:
# 앞으로 데이터프레임 출력은 print() 함수 없이 출력하겠습니다.
df = pd.DataFrame({'c0':[1,2,3], 'c1':[4,5,6]})

# 데이터 타입과 데이터프레임 출력
print(type(df))
df

<class 'pandas.DataFrame'>

   c0  c1
0   1   4
1   2   5
2   3   6

In [3]:
# 넷플릭스 데이터프레임 직접만들기
import pandas as pd
import numpy as np

# 1 딕셔너리에 넷플릭스 데이터 할당하기
dict_netflix = {
    'show_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'type': ['TV Show', 'TV Show', 'Movie', 'Movie', 'Movie', 'TV Show', 'Movie', 'Movie'],
    'title': ['Squid Game', 'Stranger Things', 'Sherlock Holmes',
              'Iron Man & Captain America: Heroes United',
              'Bird Box', 'Anne with an E', 'About Time', 'Inception'],
    'director': [np.nan, np.nan, 'Guy Ritchie', 'Leo Riley',
                 'Susanne Bier', np.nan, 'Richard Curtis', 'Christopher Nolan'],
    'cast': ['Lee Jung-jae', 'Winona Ryder', 'Robert Downey Jr',
             'Adrian Pasdar', 'Sandra Bullock', 'Amybeth McNulty',
             'Domhnall Gleeson', 'Leonardo DiCaprio'],
    'country': [np.nan, 'United States', 'United States, Germany',
                'United States', 'United States', 'Canada',
                np.nan, 'United States'],
    'release_year': [2021, 2019, 2009, 2014, 2018, 2019, 2013, 2010],
    'duration': [300, 800, 128, 71, 124, 900, 123, 148],
    'listed_in': [np.nan, 'TV Horror', 'Action & Adventure',
                  np.nan, np.nan, np.nan, np.nan, np.nan]
}

# 2 딕셔너리로 데이터프레임 생성하기
netflix = pd.DataFrame(dict_netflix)
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [6]:
import pandas as pd

netflix = pd.read_csv("./netflix_titles.csv")
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [7]:
# CSV 파일 저장하기
netflix.to_csv('netflix_new.csv', index=False)

In [9]:
# 판다스의 데이터 타입 알아보기
# 샘플 데이터 생성 후 판다스에서 읽어보기

kr_weather = pd.read_csv("./korea_weather_data.csv")
kr_weather

,date,city,temp_min_c,temp_max_c,humidity_pct,precip_mm,wind_speed_mps,condition
0,2026-01-27,Seoul,-9.1,-2.7,73,11.1,2.3,Snow
1,2026-01-28,Seoul,5.0,12.0,49,1.2,1.8,Rain
2,2026-01-29,Seoul,-5.5,4.9,45,0.0,3.8,Clear
3,2026-01-30,Seoul,-6.4,0.2,66,0.0,2.1,Cloudy
4,2026-01-31,Seoul,-6.4,-0.7,79,0.0,1.1,Cloudy
5,2026-02-01,Seoul,-0.2,4.6,63,0.0,3.7,Clear
6,2026-02-02,Seoul,-6.5,0.2,77,0.0,2.6,Cloudy
7,2026-02-03,Seoul,-3.9,0.4,60,0.0,3.6,Clear
8,2026-02-04,Seoul,-10.4,1.2,48,0.0,3.5,Clear
9,2026-02-05,Seoul,-10.1,-3.0,46,0.0,2.0,Clear
10,2026-02-06,Seoul,-3.7,1.9,59,0.0,3.1,Clear
11,2026-02-07,Seoul,0.2,5.7,50,0.0,3.1,Clear
12,2026-02-08,Seoul,-3.0,2.2,52,0.0,4.3,Clear
13,2026-02-09,Seoul,-1.9,1.9,78,0.0,3.2,Cloudy
14,2026-02-10,Seoul,-6.7,-0.5,56,0.0,0.2,Clear
15,2026-02-11,Seoul,-2.2,5.0,66,0.0,3.6,Cloudy
16,2026-02-12,Seoul,-4.7,0.6,78,0.0,1.0,Cloudy
17,2026-02-13,Seoul,1.3,6.9,38,0.0,3.2,Clear
18,2026-02-14,Seoul,4.8,7.9,52,0.0,4.8,Clear
19,2026-02-15,Seoul,-3.5,0.5,69,4.4,2.4,Snow
20,2026-02-16,Seoul,0.3,4.2,66,0.0,2.7,Cloudy
21,2026-02-17,Seoul,-2.2,2.9,61,0.0,2.6,Clear
22,2026-02-18,Seoul,6.3,10.2,39,0.0,3.5,Clear
23,2026-02-19,Seoul,-5.5,0.1,66,0.0,1.4,Cloudy
24,2026-02-20,Seoul,8.0,10.4,57,10.7,2.8,Rain
25,2026-02-21,Seoul,-8.5,0.1,51,0.0,2.7,Clear
26,2026-02-22,Seoul,-7.4,1.1,52,4.4,5.8,Snow
27,2026-02-23,Seoul,-2.0,2.4,66,0.0,3.1,Cloudy
28,2026-02-24,Seoul,5.5,9.7,40,0.0,3.8,Clear
29,2026-02-25,Seoul,3.3,9.7,63,0.0,4.4,Clear

In [10]:
# 데이터 내용 확인하기
# 데이터의 열과 행 확인하기

netflix = pd.read_csv('netflix_selena.csv')
# 열 이름 확인
list(netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'release_year',
 'duration',
 'listed_in']

In [11]:
list(netflix.index)

[0, 1, 2, 3, 4, 5, 6, 7]